# Compiled output
/dist
/tmp
/out-tsc
/.angular/cache
/coverage

# Node
/node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# System files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# Environment
.env
